@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

:root {
    --clr-background: #f6f7fb;
    --clr-line-fill: #e0e0e0;
    --clr-line-empty: #3498ab;
    --ff-primary: "Muli", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--clr-background);
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    /* background-color: red; */
}

/* gray-line */
.progress-container::before {
    content: "";
    background-color: var(--clr-progress-line-bg);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress-line {
    background-color: var(--clr-progress-line);
    position: absolute;
    top: 50%;
    left: 0;
    /* puts the middle of the line in the 'middle' by moving it up 50% */
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    /* movies it behind the numbers */
    z-index: -1;
    transition: 0.4s ease;
}
